@import "vars";
@import "reset";
@import "fonts";
@import "libs";
@import "global";

.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    text-transform: uppercase;
    color: $title;
    padding-bottom: 1px;
    transition: all 0.3s;
    @extend %quicksand-400;
    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %quicksand-500;
    }
  }
  &__list-link--active {
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %quicksand-500;
  }
}
.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link + .user-nav__link {
    padding-left: 25px;
  }

  &__num {
    position: absolute;
    right: -9px;
    top: -14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $accent;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
}
.footer {
  background: $bg;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
  &__contact {
    width: 250px;
    margin-right: 30px;
  }
  &__nav {
    width: 170px;
    margin-right: 30px;
  }
  &__item-form {
    max-width: 470px;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__address,
  &__email,
  &__phone {
    // line-height: 36px;
    margin-bottom: 10px;
    display: block;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__input {
    background-color: #fff;
    max-width: 320px;
    width: 100%;
    padding: 12px 10px 12px 15px;
    border: none;
    &::placeholder {
      color: $default;
      font-size: 16px;
    }
  }
  &__form-btn {
    @extend %btn;
    border: none;
    cursor: pointer;
  }
  &__logo {
    display: block;
    margin-bottom: 33px;
  }
  &__social-list {
    display: flex;
    margin-top: 30px;
  }
  &__social-item + .footer-top__social-item {
    padding-left: 18px;
  }
  &__social-link {
    transition: all 0.3s;
    path {
      fill: $default;
    }
    &:hover path {
      fill: $accent;
    }
  }
  &__title {
    margin-bottom: 40px;
    color: $title;
    @extend %roboto-500;
    font-size: 22px;
  }
  &__link {
    margin-bottom: 10px;
    display: block;
  }
}

.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  &__accept-img {
    display: inline;
    vertical-align: middle;
    margin-left: 25px;
  }
}

.top-slider {
  background: $bg;
  padding-top: 65px;
  &__content {
    padding-left: 175px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    max-width: 670px;
    @extend %roboto-700;
    font-size: 58px;
    line-height: 68px;
    color: $title;
    margin-bottom: 35px;
  }
  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }
  &__link {
    @extend %btn;
  }

  .top-slider__container {
    max-width: 1560px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    li {
      padding: 0 5px;
      button {
        padding: 0;
        font-size: 0;
        background-color: transparent;
        border: none;
        border: 1px solid transparent;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &::before {
          position: absolute;
          content: "";
          background-color: $default;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
        }
      }
      &.slick-active {
        button {
          border-color: $accent;
          position: relative;
          &::before {
            content: "";
            background-color: $accent;
          }
        }
      }
    }
  }
}

.categories-info {
  padding: 120px 0;
  background-image: url("../images/decor/categories-left-bg.png");
  background-repeat: no-repeat;
  background-position: center left;
  &__inner {
    background-image: url("../images/decor/categories-right-bg.png");
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
  }
  &::before {
    top: -40px;
    left: -44px;
    background-image: url(../images/decor/info-before-bg.png);
    width: 120px;
    height: 121px;
    z-index: -1;
  }
  &::after {
    bottom: -25px;
    right: -25px;
    background-image: url(../images/decor/info-after-bg.png);
    width: 65px;
    height: 52px;
    z-index: -1;
  }
}
.info__item {
  padding: 30px 60px;
  width: 370px;
  box-shadow: 20px 0 60px 0px rgba(202, 202, 202, 0.35);
  background: #fff;
}
.info__item-title {
  margin: 35px 0 10px;
  color: $title;
  font-size: 22px;
  @extend %roboto-400;
}

.title {
  text-align: center;
  @extend %roboto-700;
  margin-bottom: 10px;
  color: $title;
  font-size: 48px;
  line-height: 65px;
  text-transform: uppercase;
}
.text {
  text-align: center;
  max-width: 570px;
  margin: 0 auto 55px;
}

.categories {
  background: #fff;
}
.categories__items {
  display: grid;
  min-height: 635px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}
.categories__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 35px;
  padding-left: 40px;
  &:nth-child(1) {
    grid-row: span 2;
    .categories__item-subtitle,
    .categories__link:hover {
      color: #5800e4;
    }
  }
  &:nth-child(2) {
    grid-column: span 2;
    .categories__item-subtitle,
    .categories__link:hover {
      color: $accent;
    }
  }
  &:nth-child(3) {
    .categories__item-subtitle,
    .categories__link:hover {
      color: #ffb534;
    }
  }
  &:nth-child(4) {
    .categories__item-subtitle,
    .categories__link:hover {
      color: #34c3ff;
    }
  }
}

.categories__item-subtitle {
  @extend %quicksand-400;
  margin-bottom: 5px;
}
.categories__item-title {
  font-size: 22px;
  color: $title;
  margin-bottom: 16px;
}
.categories__item-link {
  text-transform: uppercase;
  color: $title;
  @extend %roboto-400;
}

@import "media";
